*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

body{
    background-color: black;
}

footer{
    background-color: #222222;
}

.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 5px;
    left: 0; 
}

.justify-between{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.icon-header{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.grid-icon span{
    color: white;
    font-size: 15px;
    padding: 3px;
    text-align: center;
}

.grid-icon i{
    color: white;
    font-size: 15px;
    padding: 3px;
    text-align: center;  
}

.arrow i{
    color: white;
    font-size: 15px;
    padding:3px;
    text-align: center;  
}


.absolute span{
    color: white;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}

.absolute i{
    color: white;
    font-size: 12px;
    padding-left: 2px;
    text-align: center;  
}

.grid-icon, .arrow{
    display: inline-block;
    background-color: gray;
    text-align: center;
    border-radius: 5px;
}

.cards{
    width: calc(100% / 7 - 4px);
    margin: 1px 2px;
}

.cards img{
    max-width: 100%;
}

.bg-color{
    background-color:rgba( 169, 169, 169, 0.5 )
}

.footer-left{
    display: flex;
    margin-left: 10px;
}

.footer-center{
    display: flex;
    margin-left: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;  
}

.flex-column i{
    font-size: 20px;
    margin-right: 5px;
}

.flex-row{
    display: flex;
    padding-top: 8px;
}

.angle-up{
    align-self:center;
}

.flex-column span{
    font-size: 15px;
}

.flex-column i{
    color: white;
    font-size: 18px;
    padding:3px;
    text-align: center;  
}

.flex-column span{
    color: white;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}   

.angle-up i{
    color: white;
    font-size: 15px;
    padding:3px;
    text-align: center;
}

#angle{
    font-size: 10px;
    align-self: center;
    color: white;
    margin: 0 10px;
}